examples/flows/flows.json
[
    {
        "id": "e468bcf7a6ec520d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba2f6c37e78b9ee2",
        "type": "GoRules",
        "z": "e468bcf7a6ec520d",
        "name": "shipping-fees.json",
        "isInline": false,
        "decisionJsonFile": "/opt/node-red-contrib-gorules/examples/rules/shipping-fees.json",
        "x": 630,
        "y": 300,
        "wires": [
            [
                "2aa8a283ecbad3f0"
            ]
        ]
    },
    {
        "id": "f3b2d7b3ddd8e492",
        "type": "inject",
        "z": "e468bcf7a6ec520d",
        "name": "shipping-fees.json",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "shipping-fees.json",
        "payload": "{\"customer\":{\"country\":\"FR\"}}",
        "payloadType": "json",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "ba2f6c37e78b9ee2"
            ]
        ]
    },
    {
        "id": "2aa8a283ecbad3f0",
        "type": "debug",
        "z": "e468bcf7a6ec520d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    }
]